@charset "utf-8";

:root {
    /* color */
    --color-black: #3f454d;
    --color-white: #ffffff;
    --color-yellow: #fbbe28;
    --color-pink: #fd7f84;
    --color-light-grey: #dfdfdf;
}

/* 리셋 */
* {
    -webkit-font-smoothing: antialiased;
    padding: 0; 
    margin: 0; 
}
ul, li {
    list-style: none;
} 
a {
    text-decoration: none;
}
img{
    vertical-align: bottom;
}

body {
    margin-top: 3rem;
    font-family: 'Caveat', cursive;
}

h1 {
    font-size: 3rem;
	line-height: 1.4;
	letter-spacing: 0.5rem;
	text-align: center;
    padding-bottom: 1rem;
}

.container {
    position: relative;
    overflow: hidden;
    height: 479px;
} 

/****** 이미지 슬라이드 *******/
.slider-container {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
}

.slide-list {
    position: absolute;
    width: 100%;
    text-align: center;
    overflow: hidden;
    box-sizing: border-box; 
}

.slide-list img {
    border-radius: 10px;
    cursor: pointer;
}

.slider-container.animated {
    -webkit-transition: left .3s ease-in;
    transition: left .3s ease-in;
}

/****** 버튼 *******/
#prev,
#next {
    position: absolute;
    top: 50%;
	left:50%;
    transform: translateY(-50%);
    z-index: 999999;
    display: inline-block;
    height: 5em;
    width: 5em;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

#prev { background-image: url('../images/arrow-left-out.svg'); margin-left:-480px;}

#prev:hover { background-image: url('../images/arrow-left-over.svg'); }

#next {
    margin-left:380px;
    background-image: url('../images/arrow-right-out.svg');
	
}

#next:hover { background-image: url('../images/arrow-right-over.svg'); }

#prev{
    display: none;
}

#prev.add {
    display: block;
}

/****** 페이지 버튼 *******/
.pager {
    position: absolute;
    left: 0; right: 0; bottom: 0;
    text-align: center;
}

.pager span {
    width: 10px; 
    height: 10px;
    background-color: var(--color-white);
    border-radius: 50%;
    display: inline-block;
    text-indent: -9999em;
    margin: 0 5px;
    cursor: pointer;
}

.pager span.active {
    background-color: var(--color-pink);
}