:root {
    /* color */
    --color-black: #3f454d;
    --color-white: #ffffff;
    --color-yellow: #fbbe28;
    --color-pink: #fd7f84;
    --color-light-grey: #dfdfdf;
}

html {
    font-size: 68%;
}

body {
    background-color: var(--color-light-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Quicksand", sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#calendar {
    width: 45rem;
    height: 54rem;
    background-color: var(--color-white);
    border-radius: 1.8em 1.8em 1.8em 1.8em;
}

.yearMonth {
    height: 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    font-size: 1.8rem;
    background: var(--color-pink);
    color: var(--color-white);
    border-radius: 1em 1em 0 0;
}

.week {
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    background-color: var(--color-white);
    
}

.weekdays {
    width: 14.28%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    color: var(--color-pink);
    font-weight: bold;
}


.days {
    font-size: 1.5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-white);
    color: var(--color-black);
    border-radius: 0 0 1em 1em;
    
}

.days div {
    width: calc(40.7rem / 7);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    margin: 0.3rem;
    
}

.tag, .blank, .day {
    width: 50px;
    line-height: 30px;
    height: 30px;
}

.blank {
    color: var(--color-light-grey);
}

.day{
    transition: background-color 0.2s;
}

.day:hover {
    background-color: var(--color-yellow);
    color: var(--color-white);
    cursor: pointer;
}

.today {
    background-color: var(--color-pink);
    color: var(--color-white);
}

.prev, .next {
    cursor: pointer;
    font-size: 1.5em;
}