* {
    margin: 0;
    padding: 0;
}
body {
    color: #000;
}

ul , li {
    list-style: none;
}

.container {
    padding: 1.5em;
}

.box {
    padding: 5px;
    text-align: center;
}

h1 {
    margin-bottom: 1em;
    font-family: 'Yellowtail', cursive;
    font-size: 2em;
    letter-spacing: 0.1em;
}

#menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

#menu li {
    width: 200px;
}

#menu li.right {
    text-align: right;
    font-size: 18px;
    font: normal 20px "Helvetica";
}

span {
    color: #333;
}

#menu #startBtn {
    width: 200px;
    height: 30px;
    font-weight: bold; 
    border: 1px solid skyblue;  
    background: skyblue; 
    color: white; 
    cursor: pointer;
    transition: all 0.3s;
}

#menu #startBtn:hover {
    background: orange;
    border: 1px solid orange;
    
}

#wormTable {
    border: 1px solid #000; 
    border-collapse: collapse; 
    display: inline-block;
}
#wormTable td{
    width: 15px; 
    height: 15px; 
    font-size: 0.7em; 
}

.worm{
    background-color:skyblue;
}


.btn {
    width: 80px;
    height: 80px;
    background: #CCCCCC;
    border-radius: 50px;
    border: none;
    font-size: 20pt;
    color: white;
}

.right_btn {
    margin-left: 70px;
}

#author {
    display: inline-block;
    margin-top: 1em;
    color: lightblue;
    text-shadow: 3px 1px blue;
    font: italic normal bold 30px/30px "Helvetica";
}